.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex-direction: row;

  .closeButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff; // Change as needed
    font-size: 1.5em; // Adjust size as needed

    &:hover {
      color: #666; // Change as needed
    }
  }
}

.canvasWrapper {
  max-width: 100vw; /* or any specific width */
  display: flex;
  justify-content: center;
  overflow: auto;
}
.canvasContainer {
  overflow: auto; /* Enables scrolling */
  position: relative; /* This helps with the layout */
}
