.gameturnMenuContainer {
  .modalHeader {
    display: flex;
    justify-content: center; // Center horizontally
    align-items: center; // Center vertically
    position: relative;
    padding: 10px;

    .closeButton {
      background: none;
      border: none;
      cursor: pointer;
      color: #ffffff; // Change as needed
      font-size: 1.5em; // Adjust size as needed

      &:hover {
        color: #666; // Change as needed
      }
    }
  }
}

.playerCheckbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.5em;
  width: 8rem;
  height: fit-content;
}

.tradeWindowContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.5em;
  // width: fit-content;
  // height: fit-content;
  // text-align: center;
  .modalHeader {
    display: flex;
    justify-content: space-evenly; // Center horizontally
    align-items: center; // Center vertically
    position: relative;
    padding: 10px;
    width: 100vw;
    .closeButton {
      background: none;
      border: none;
      cursor: pointer;
      color: #ffffff; // Change as needed
      font-size: 1.5em; // Adjust size as needed

      &:hover {
        color: #666; // Change as needed
      }
    }
  }
}

.currentPlayerInventory {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.5em;
}

.tradeWindowDetailsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
