ion-toolbar {
  --color: white; // Sets the color of text and icons in the toolbar

  ion-buttons {
    ion-menu-button {
      --color: white; // Specifically targets the menu button
    }
  }
}
.navbarMenuContainer {
  background: rgb(0, 0, 0, 0.5);
}

.usernameDisplay {
  display: flex;
  align-self: center;
  justify-self: center;
}
