.ion-card {
    margin: 10px;
    text-align: center;
  
    .ion-card-title {
      font-size: 1.2rem;
      font-weight: bold;
    }
  
    .ion-card-subtitle {
      font-size: 1rem;
      margin-bottom: 10px;
    }
  }
  